<div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
            <img class="card-img-top mb-5 mb-md-0" [src]="heroe.img" [alt]="heroe.nombre">
            <a [routerLink]="['/heroes']" class="btn btn-outline-danger volver">Volver</a>
        </div>
        <div class="col-md-6">
            <div class="small mb-1">{{ heroe.aparicion | date:'y' }}</div>
            <h1 class="display-5 fw-bolder">{{ heroe.nombre | uppercase }}</h1>
            <hr>
            <p class="lead">{{ heroe.bio }}</p>
            <div class="d-flex" *ngIf="casa">
                <img class="icono" src="../../../assets/img/DC.png" alt="">
            </div>
        </div>
    </div>
</div>